/*fonts*/
@font-face{
	font-family: "renner";
	src:url("./font/renner.ttf") format("truetype"),
	url("./font/renner.eot") format("eot"),
	url("./font/renner.woff") format("woff"),
	url("./font/renner.otf") format("opentype"),
	url("./font/renner.svg") format("svg");
}
body {
	font-family:'renner',"Trebuchet MS", sans-serif;
}
body h1, h2 {
	font-family:"Trebuchet MS", sans-serif;
}
/***/
.row {
	display: flex;
	margin: 0px;
}

/*header*/
.identity{
	padding: 5% 50px;
}

#photo {
	text-align: center;
	padding: 50px 0px;
	background-color: #FDD835;
}

#photo img {

	border-style: solid;
	border-radius: 50%;
	width : 200px;
	height: 200px;
	border-width: 4px;
	border-color: rgba(191,54,12,0.2);
}
.identity h1 {
	font-size: 3em;
}
.identity h2 {
	font-size: 2em;
	color: #263238;
}
.identity h1 span {
	color: #FDD835;
}
.identity h2 span {
	border-bottom: 2px solid #FDD835;
}
/***/
/*left block*/
.left {
	padding:0px;
	position: relative;
	background-color: #FDD835;
}
.left article {
	padding: 0px 0px;
}
.left p {
	padding: 0px 50px;
	color: #263238;
}
.left h2 {
	text-align: center;
	padding: 5px;
	margin: 30px 0px;
	background-color: #263238;
	color: #FDD835;
}

#contact p {
	text-align: left;
}
#contact h2 {
	
	margin-top: 0;
}
#a_propos p {
	text-align: justify-all;
}
#loisirs {
	margin-bottom: 20px;
	position: absolute;
	bottom: 0;
}
.icons {
	display: flex;
	justify-content: space-around;
	color: #263238;
}
.icons div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border: 2px solid #263238;
	border-radius:50%;
}
.icons i {
	padding: 20px;
	font-size: 2em;
}
/***/
a {
	color: #263238;
}
a:hover {
	color: green;
}
a:active {
	color: red;
}
a:visited {
	color: purple;
}

/*right block*/
.right {
	padding-left: 50px;
	color: #263238;
}
.right h2 {
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: solid #FDD835;
	margin-bottom: 0px;
	color: black;
}
.right section {
	padding: 0px;
}

.right article {
	display: flex;
	padding: 30px 0px 20px 0px;
}
.right div {
	padding: 0px;
}
#recommandation_article {
	display: flex;
	justify-content: space-between;
	padding: 30px 0px 20px 0px;
}
#recommandation_article article {
	flex-direction: column;
}
h2 .fas {
	font-size: 1.5em;
	padding-right: 20px;
	color: #FDD835 ;
}
.right i {
color: #FDD835
}
.right article .fas {
	font-size: 12px;
	margin-right: 20px;
}
.right article .far {
	font-size: 14px;
	margin-right: 20px;
	font-weight:400;
}
.lieu {
	padding-left: 40px;
}
.lieu2 {
	padding-left: 37px;
}
/***/
/*responsive*/
@media all and (max-width: 1332px) {
	.left p {
		padding: 0px 30px;
	}
	#photo img {
		width: 190px;
		height: 190px;
	}
}
@media all and (max-width: 767px) {
	#photo img {
		width: 300px;
		height: 300px;
	}
	#loisirs {
		position: relative;
	}
	.right {
		padding: 0px 30px;
	}
}
@media all and (max-width: 599px) {
	#formation article, #experience article, #recommandation_article {
		flex-direction: column;
	}
	#loisirs {
		position: relative;
	}
	.right {
		padding: 0px 30px;
	}
	.right article .col-md-4 {
		display: flex;
	}
	#photo img {
		width: 250px;
		height: 250px;
	}
}
@media all and (max-width: 380px) {
	.right h2 {
		font-size: 1.5rem;
	}
	#photo img {
		width: 250px;
		height: 250px;
	}
}
/***/